.lgc-bg {
<<<<<<< HEAD
    
=======
    background-color: rgb(242 242 241);
    background-color: rgb(242 242 242);
>>>>>>> Local-Copy
    border:red 2px solid;
}

.lgc-bg-inverse {
    background-color: rgb(22 50 92);
}